*{
    /* outline: 1px solid red; */
}
#container{
    width: 200px;
    background-color: rgb(39, 16, 8);
    display: block;
    margin: 0 auto;
    padding: 60px;
}
img{
    width: 100%;
    margin: -1.5px 0;
    padding: 0;
}